{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "semi": "error",
    "no-console": 0,
    "no-unused-vars": [
      "error", {
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
